<?xml version="1.0"  encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- JSON Manifests -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <!-- Fonts -->
            <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ttc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>